.shaded
{
   background-color:#CCCCCC;
   border:2px solid #333333;
   padding: 20px;
   margin:100px;
   border-radius: 15px;
}
.Link:hover
{
   background-color:#FF0000;
}
.divGeorge
{
   box-shadow:5px 5px 10px #000000;
   background-color : red;
}
.wrapper
{
    position:absolute;
    top: 110px;
    left: -400px;
    width:800px;
    background-color : red;
}

.hidden
{
   display:none;
}
.up
{
    background-color : green;
}
